<h1>Lista de imc</h1>
<table id="table">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Data de Nascimento</th>
        <th>Valor IMC</th>
        <th>Classificacao</th>
        <th>Data de Criacao</th>
    </tr>
    <tr *ngFor="let i of imcs">
        <th>{{i.imcId}}</th>
        <th>{{i.aluno?.nome}}</th>
        <th>{{i.peso}}</th>
        <th>{{i.altura}}</th>
        <th>{{i.aluno?.dataDeNascimento }}</th>
        <th>{{i.valorIMC}}</th>
        <th>{{i.classificacao}}</th>
        <th>{{i.dataDeCriacao | date : "dd/MM/yyyy" }}</th>
    </tr>

</table>